<a href="https://colab.research.google.com/github/Kagev/goit-ds-hw-03/blob/master/DS_HW_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Завдання**


Дане домашнє завдання буде повністю пов'язане з лінійною регресією та її реалізацією. Отож розіб'ємо наше домашнє завдання на декілька частин:

In [43]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [44]:
file_path = '/content/drive/MyDrive/Особисте/Навчання/GoIT/Colab Notebooks/Housing.csv'

data = pd.read_csv(file_path)

# Перегляд перших кількох рядків датасету
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [45]:
# Перевірка інформації про датасет
data.info()

# Перевірка наявності пропущених значень
data.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [46]:
X = data[['area', 'bathrooms', 'bedrooms']]
y = data['price']

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

напишіть функцію гіпотези лінійної регресії у векторному вигляді;

In [47]:
def hypothesis(X, w):
    return np.dot(X, w)

Створіть функцію для обчислення функції втрат у векторному вигляді

In [48]:
def loss_function(X, y, w):
    m = len(y)
    predictions = hypothesis(X, w)
    return (1/(2*m)) * np.sum((predictions - y) ** 2)

Реалізуйте один крок градієнтного спуску

In [49]:
def gradient_descent_step(X, y, w, learning_rate):
    m = len(y)
    predictions = hypothesis(X, w)
    gradient = np.dot(X.T, (predictions - y)) / m
    w -= learning_rate * gradient
    return w

Знайдіть найкращі параметри за допомогою написаних вами функцій

In [50]:
def gradient_descent(X, y, w, learning_rate, iterations):
    loss_history = []
    for i in range(iterations):
        w = gradient_descent_step(X, y, w, learning_rate)
        loss_history.append(loss_function(X, y, w))
    return w, loss_history

w = np.zeros(X_train.shape[1])
learning_rate = 0.01
iterations = 1000

best_w, loss_hist = gradient_descent(X_train, y_train, w, learning_rate, iterations)

Знайдіть параметри за допомогою аналітичного рішення

In [51]:
def analytical_solution(X, y):
    return np.linalg.inv(X.T.dot(X)).dot(X.T).dot(y)

w_analytical = analytical_solution(X, y)

Порівняйте з LinearRegression з бібліотеки Scikit-learn

In [52]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred_sklearn = model.predict(X_test)

# Оцінка точності моделі scikit-learn
mse_sklearn = mean_squared_error(y_test, y_pred_sklearn)
r2_sklearn = r2_score(y_test, y_pred_sklearn)

print(f'Mean Squared Error (scikit-learn): {mse_sklearn}')
print(f'R^2 Score (scikit-learn): {r2_sklearn}')

Mean Squared Error (scikit-learn): 2750040479309.0522
R^2 Score (scikit-learn): 0.4559299118872445